@media (min-width: 1200px) and (max-width: 1920px){

    .logistica-container{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        background-image: url(../../assets/bck1.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .logistica-nav{
        width: 100%;
        height: 20vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        /* border: thin dotted #f00; */
    }

    .logistica-nav img{
        margin-left: 3vw;
        height: 7vh;
    }

    .logistica-content{
        width: 80%;
        height: 60vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        /* border: thin dotted #f0f; */
    }
    
    .logistica-content .car{
        width: 40%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content:center;
        /* margin-left: 120px; */
        /* border: thin dotted rgb(0, 255, 179); */
    }
    
    .logistica-content .car img{
        height: 450px;
        /* border: thin dotted #00f; */
    }
    
    .logistica-content .text{ 
        width: 55%;
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: flex-start;
        /* border: thin dotted #00f; */
    }
    
    .logistica-content .text h1{
        font-size: 11.5rem;
        text-align: left;
        font-weight: bold;
        color: #4f5c0d;
        letter-spacing: -0.5rem;
        /* border: thin dotted #00f; */
    } 
    .logistica-content .text p{
        width: 100%;
        text-align: left;
        font-size: 1.8rem;
        color: #000;
        /* border: thin dotted #00f; */
    }

    .logistica-ribbon-container{
        width: 100%;
        height: 10vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* border: thin dotted #00f; */
    }

    .logistica-ribbon{
        width: 98%;
        height: 85%;
        font-size: 1.5rem;
        color: #fff;
        padding: 0 0 0 10vw;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        /* background-color: #4f5c0d99; */
        background: rgb(46,54,7);
        background: -moz-linear-gradient(90deg, rgba(46,54,7,1) 0%, rgba(79,92,13,1) 60%);
        background: -webkit-linear-gradient(90deg, rgba(46,54,7,1) 0%, rgba(79,92,13,1) 60%);
        background: linear-gradient(90deg, rgba(81, 95, 8, 0.9) 0%, rgba(79,92,13,0.4) 60%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2e3607",endColorstr="#4f5c0d",GradientType=1);
    }

    .logistica-footer{
        width: 100%;
        height: 10vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        /* border: thin dotted #00f; */
    }
    
    .logistica-footer .logo-xs{
        margin-right: 1vw;
        height: 35px;
    }

}


@media (min-width: 992px) and (max-width: 1199px){

}

@media (min-width: 768px) and (max-width: 991px){

}

@media (min-width: 601px) and (max-width: 767px){

}

@media (max-width: 600px){

}